extends layout
block content
    .row
      .holder
        h1 Hi, I am the product page!
          .grid-container
            each row in res1
              .item
                h1.itemtitle #{row.Name}
                img.pimage(src="", alt="")
                p.itemp &euro;#{row.Price}
                p.itemp #{row.Price}
                p.itemp ACtivity: #{row.Activity}
                a.button(href="/item/#{row.Id}") Show